<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>galleon_java_stub</string>
	<key>CFBundleGetInfoString</key>
	<string>Configure Galleon 2.4.1</string>
	<key>CFBundleIconFile</key>
	<string>Galleon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.lnicholls.galleon.gui.Galleon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Configure Galleon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.4.1</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/conf</string>
			<string>$JAVAROOT/lib/asm-1.5.3.jar</string>
			<string>$JAVAROOT/lib/bananas-1.3-custom.jar</string>
			<string>$JAVAROOT/lib/browserlauncher.jar</string>
			<string>$JAVAROOT/lib/cglib-2.1_3.jar</string>
			<string>$JAVAROOT/lib/commons.jar</string>
			<string>$JAVAROOT/lib/concurrent.jar</string>
			<string>$JAVAROOT/lib/derby.jar</string>
			<string>$JAVAROOT/lib/dom4j-1.6.1.jar</string>
			<string>$JAVAROOT/lib/forms.jar</string>
			<string>$JAVAROOT/lib/galleon.jar</string>
			<string>$JAVAROOT/lib/hibernate.jar</string>
			<string>$JAVAROOT/lib/hme-1.4.jar</string>
			<string>$JAVAROOT/lib/hme-hd.jar</string>
			<string>$JAVAROOT/lib/hme-host-sample-1.4.jar</string>
			<string>$JAVAROOT/lib/htmlparser-1.6.jar</string>
			<string>$JAVAROOT/lib/informa-0.7.0.jar</string>
			<string>$JAVAROOT/lib/jampal-1.14.jar</string>
			<string>$JAVAROOT/lib/javazoom.jar</string>
			<string>$JAVAROOT/lib/jawin-1.0.19.jar</string>
			<string>$JAVAROOT/lib/jax.jar</string>
			<string>$JAVAROOT/lib/jd3lib-a4.jar</string>
			<string>$JAVAROOT/lib/jdai-0.4.jar</string>
			<string>$JAVAROOT/lib/jdbc2_0-stdext.jar</string>
			<string>$JAVAROOT/lib/jdom-1.0.jar</string>
			<string>$JAVAROOT/lib/jl1.0.jar</string>
			<string>$JAVAROOT/lib/js-1.6R5.jar</string>
			<string>$JAVAROOT/lib/jshortcut-0.4.jar</string>
			<string>$JAVAROOT/lib/jta-1.1.jar</string>
			<string>$JAVAROOT/lib/log4j-1.2.14.jar</string>
			<string>$JAVAROOT/lib/mail-1.4.jar</string>
			<string>$JAVAROOT/lib/mediamanager-videoman-0.8.jar</string>
			<string>$JAVAROOT/lib/MHS-1.6.1-1697.jar</string>
			<string>$JAVAROOT/lib/odmg.jar</string>
			<string>$JAVAROOT/lib/pja-2.5.jar</string>
			<string>$JAVAROOT/lib/smack.jar</string>
			<string>$JAVAROOT/lib/upcoming.jar</string>
			<string>$JAVAROOT/lib/widgets.jar</string>
			<string>$JAVAROOT/lib/wrapper-3.2.3.jar</string>
			<string>$JAVAROOT/lib/xbean-1.0.4.jar</string>
			<string>$JAVAROOT/lib/xercesImpl-2.9.0.jar</string>
			<string>$JAVAROOT/lib/xml-apis-2.9.0.jar</string>
			<string>$JAVAROOT/lib/yahoo_search-2.0.1.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.5*</string>
		<key>MainClass</key>
		<string>org.lnicholls.galleon.gui.Galleon</string>
		<key>Properties</key>
		<dict>
			<key>java.awt.fonts</key>
			<string>/Library/Java/Home/lib/fonts</string>
		</dict>
		<key>VMOptions</key>
		<array>
			<string>-Xms32m</string>
			<string>-Xmx32m</string>
			<string>-Dcom.apple.mrj.application.apple.menu.about.name=Configure Galleon</string>
		</array>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java/bin</string>
	</dict>
</dict>
</plist>
